body {
    background: #88dad3;
}

header, footer, nav{
	display: block;
	text-align: center;
}

main {
	display: block;
	margin: 0 auto;
	width: 650px;
}

ul li {
	list-style-type: none;
	display: inline-block;
	padding: 5px 10px;
}

nav ul li {
	border: 2px solid black;
	border-radius: 5px;
}

a {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

span {
	margin-right: 7px;
}

input {
	margin: 3px;
}

textarea {
	width:250px;
	height:100px;
}

form{
	padding: 5px;
}

button {
	margin-top: 5px;
}

p{
	margin: 5px 0;
}

.info{
	background-color: green;
}

.error{
	background-color: red;
}

.center{
	text-align:center;
}

.question{
	border: 2px solid black;
	border-radius: 10px;
	margin: 10px 0;
	padding-bottom: 10px;
	padding-left: 10px;
}

#user-settings {
	display: inline-block;
	border: 2px solid black;
	border-radius: 7px;
	padding: 0 5px;
}

#user-settings p, #user-settings form{
	display: inline-block;
	margin-left: 5px;
}

#messages {
	text-align: center;
}

#addQuestionBox *{
	display: block;
	margin: 0 0 2px 5px;
}